.button_login {
    border: solid #fff 1px;
    border-radius: 100px;
    padding: 12px;
    margin-right: 0em;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}