.card__bookmark {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 8px;
    background-image: url(../../../images/bookmark-icon-normal.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}