.header__items {
    display: flex;
    align-items: center;
    list-style-type: none;
    right: 0;
    height: 100%;
    width: 70%;
    max-width: 555px;
    justify-content: flex-end;
    
}

@media only screen and (max-width : 768px){
    .header__items {
        visibility: hidden;
        width: 24px;
    }
}