@import url(_done/search__header_done.css);

.search__header {
    padding-top: 60px;
    font-family: Roboto Slab, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
}

@media only screen and (max-width : 425px) {
    .search__header {
        font-family: Roboto Slab, "Times New Roman", Times, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
    }
}