.technologies__items-container {
    display: flex;
    flex-flow: row;
    padding-top: 80px;
    justify-content: center;
}

@media only screen and (min-width : 650px) and (max-width : 1024px) {
    .technologies__items-container  {
        justify-content: space-between;
    }
}

@media only screen and (max-width : 650px){
    .technologies__items-container {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex:50%
    }
}