.mobile-menu__logo {
    position: absolute;
    left: 16px;
    top: 16px;
    font-family: Roboto Slab, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}