@import url(__cards/search-results__cards.css);
@import url(__title/search-results__title.css);

.search-results {
    padding-bottom: 80px;
    padding-left: 104px;
    padding-right: 104px;
    display: flex;
    background-color: #F5F6F7;
    flex-flow: column;
}