.search__header.search__header_done {
    color: #1A1B22;
    font-family: Roboto Slab, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    padding-top: 28px;
}