@import url(__copyrights/footer__copyrights.css);
@import url(__menu-item/footer__menu-item.css);
@import url(__menu/footer__menu.css);

.footer {
    display: flex;
    flex: 2 0px;
    align-items: center;
    padding-left: 104px;
    padding-right: 104px;
}

@media only screen and (min-width : 426px) and (max-width : 768px) {
    .footer  {
        display: flex;
        flex-flow: column-reverse;
        align-items: flex-start;
        position: relative;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width : 425px){
    .footer  {
        display: flex;
        flex-flow: column-reverse;
        align-items: flex-start;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
    }
}