@import url(__bookmark/card__bookmark.css);
@import url(__content/card__content.css);
@import url(__date/card__date.css);
@import url(__image/card__image.css);
@import url(__login-label/card__login-label.css);
@import url(__source/card__source.css);
@import url(__title/card__title.css);
@import url(__bottom-section/card__bottom-section.css);

.card {
    background: #fff;
    border-radius: 16px;
    display: flex;
    flex-flow: column;
    padding-bottom: 24px;
    min-width: 400px;
}