.commits__title {
	max-width: 336px;
	line-height: 40px;
}

@media (min-width: 768px) {
	.commits__title {
		padding-left: 24px;
		line-height: 34px;
	}
}

@media (min-width: 1204px) {
	.commits__title {
		margin: 0 auto;
		max-width: 1281px;
	}
}