@import url(__button/search-field__button.css);
@import url(__input/search-field__input.css);

.search-field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 68px;
    height: 64px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
}