.header-menu__items {
    display: flex;
    align-items: center;
    list-style-type: none;
    right: 0;
    height: 100%;
    width: 70%;
    max-width: 555px;
    justify-content: space-around;
    
}

@media only screen and (max-width : 768px){
    .header-menu__items {
        visibility: hidden;
        
    }
}