.card__image {
    height: 272px;
    background: url(../../../images/cat_1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}