.header__menu {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    border-bottom: solid 1px;
    border-color: rgba(196, 196, 196, 0.01);
    padding: 0px 104px 0px 104px;
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .header__menu  {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (min-width : 426px) and (max-width : 768px) {
    .header__menu  {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width : 425px){
    .header__menu  {
        padding-left: 16px;
        padding-right: 16px;
    }
}