@import url(__facebook/social-section__facebook.css);
@import url(__github/social-section__github.css);

.social-section {
    flex: 1;
    text-align: end;
    min-width: 80px;
}

@media only screen and (max-width : 768px){
    .social-section  {
        position: absolute;
        right: 16px;
        bottom: 157px;
    }
}