.mobile-menu__item {
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.mobile-menu__item_light {
    color: #1A1B22;
}

.mobile-menu__item_button {
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border: solid #fff 1px;
    border-radius: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-menu__item_button-light {
    color: #1A1B22;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.mobile-menu__item_menu {
    margin-left: 0px;
    color: #ffffff;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    visibility: hidden;
    width: 0px;
}
.mobile-menu__item_menu-close {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #ffffff;
}