.header-menu__logo {
    position: absolute;
    left: 104px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.header-menu__logo_light {
    color: #1A1B22;
}