.header-menu__logo {
    position: absolute;
    left: 104px;
    font-family: Roboto Slab, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.header-menu__logo_light {
    color: #1A1B22;
}

@media only screen and (min-width : 426px) and (max-width : 768px) {
    .header-menu__logo {
        left: 40px;
    }
}

@media only screen and (max-width : 425px){
    .header-menu__logo  {
        left: 16px;
    }
}