.commit__avatar {
	margin-top: 10px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

@media (min-width: 768px) {
	.commit__avatar {
		margin-top: 18px;
	}
}

@media (min-width: 1204px) {
	.commit__avatar {
		margin-top: 15px;
		width: 64px;
		height: 64px;
	}
}