.footer__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 430px;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    list-style-type: none;
    padding: 0;
}

@media only screen and (max-width : 768px){
    .footer__menu {
        min-width: 60%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        height: 120px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width : 425px){
    .footer__menu  {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        height: 120px;
        padding-bottom: 20px;
    }
}