.search__tag-list {
    font-family: Roboto, Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #1A1B22;
}

.search__tag-list_strong {
    font-weight: 500;
}