@import url(__title/technologies__title.css);
@import url(__items-container/technologies__items-container.css);
@import url(__item/technologies__item.css);
@import url(__column/technologies__column.css);

.technologies {
    padding-bottom: 80px;
    padding-left: 104px;
    padding-right: 104px;
    display: flex;
    background: #F5F6F7;
}

@media only screen and (min-width : 426px) and (max-width : 1024px) {
    .technologies  {
        padding-left: 40px;
        padding-right: 40px;
        flex-flow: column;
    }
}

@media only screen and (max-width : 425px){
    .technologies {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-flow: column;
    }
}