@import url(_light/header-menu__item_light.css);
@import url(_menu/header-menu__item_menu.css);
@import url(_main/header-menu__item_main.css);
@import url(_curent/header-menu__item_curent.css);
@import url(_curent-light/header-menu__item_curent-light.css);

.header-menu__item {
    text-decoration: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-right: 1.5em;
}

@media only screen and (max-width : 850px){
    .header-menu__item {
        margin-right: 1em;
    }
}