.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup_login {
  visibility: hidden;
}

.popup_registration {
  visibility: hidden;
}

.popup_done {
  visibility: hidden;
}


.popup:before {
  display: block;
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}

.popup-content {
  max-width: 768px;
  min-width: 320px;
  width: 70%;
  height: 407px;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-content-registration {
  max-width: 768px;
  min-width: 320px;
  width: 70%;
  height: 537px;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-content-done {
  width: 430px;
  height: 173px;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-closer {
  position: absolute;
  top: -45px;
  right: -45px;
  display: block;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width : 768px){
  .popup-content  {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 156px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .popup:before {
    opacity: 0;
  }
}

@media only screen and (max-width : 768px){
  .popup-content-registration  {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 156px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .popup:before {
    opacity: 0;
  }
}

@media only screen and (max-width : 768px){
  .popup-content-done  {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 156px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .popup:before {
    opacity: 0;
  }
}